.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #023E8A;
    border: 1px solid #023E8A;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #48CAE4;
    border-color: #48CAE4;
}